<div class="row">
  <div class="col-md-3 d-flex justify-content-center">
    <h3 class="mt-5"> Logo</h3>
  </div>
  <div class="col-md-6 home-scrolling-area ">
    <div class="row mx-0 home-scrolling-main-row">
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <img class="home-scrolling-card-img"
                src="https://images.unsplash.com/photo-1548387834-7bf05019e89b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
            </div>
            <div class="col-md-12">
              <div class="row my-3 ">
                <div class="col-md-4 d-flex justify-content-center"><i class="far mr-3 fa-heart"></i>
                  <h6 class="text-center">23</h6>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>Test Name</h5>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                  <h5>2S</h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3 ">
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="profile-img"></div>
      </div>
      <div class="col-md-12 mt-2 d-flex justify-content-center">
        <h3 class=""> profile full name</h3>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <h6 class=""> profile username</h6>
      </div>
    </div>

  </div>
</div>